SECRET_KEY=dein-geheimer-key
DEBUG=True
DATABASE_URL=postgres://user:pass@localhost:5432/aborolms
ALLOWED_HOSTS=localhost,127.0.0.1
MEDIA_ROOT=media/
MEDIA_URL=/media/
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@aborosoft.de

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

PLATFORM_COMMISSION_PERCENT=15
PAYMENT_DEMO_AUTOCONFIRM=True
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
